SAT_ADMIN_USERNAME=admin
SAT_ADMIN_PASSWORD=password
SAT_CONTAINER_PULLER_PASSWORD=password
SAT_MANIFEST_URL="http://internal.redhat.com/dvd/manifest_ess6.7-dvd.zip"
UPSTREAM_REGISTRY_USERNAME="dvd"
UPSTREAM_REGISTRY_PASSWORD="password"
